.choose {
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}
.choose::before {
    content: "";
    position: absolute;
    top: -53px;
    left: 47%;
    width: 262px;
    height: 176px;
    background-image: url('/img/choose-dot.png');
}
.choose::after {
    content: "";
    position: absolute;
    top: 130px;
    left: 28%;
    width: 296px;
    height: 307px;
    background: rgba(53, 115, 110, 0.1);
    border-radius: 20px;
}

.choose__info {
    display: flex;
    flex-direction: column;
}
.choose__info__top--title {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 25px;
    @media (max-width: 499px) {
        font-size: 24px;
        line-height: 31px;
    }
}
.choose__info__top--text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6A6A6A;
    max-width: 444px;
    @media (max-width: 768px) {
        max-width: none;        
    }
}
// item css
.choose__info__plus {
    display: flex;
    flex-wrap: wrap;
    margin-top: 88px;
    justify-content: space-between;
    width: 500px;
    row-gap: 24px;
    @media (max-width: 768px) {
        width: 100%;  
        justify-content: space-around;  
        row-gap: 45px;   
    }
}
.choose__info__plus__item {
    display: flex;
    flex-direction: column;
}
.choose__info__plus__item--icon {
    position: relative;
    width: 33px;
}
.choose__info__plus__item--icon::before {
    content: '';
    position: absolute;
    width: 33px;
    height: 33px;
    top: 0px;
    left: 15px;
    background: rgba(53, 115, 110, 0.2);
    border-radius: 50%;
}
.choose__info__plus__item--title {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin: 10px 0 9px; 
}
.choose__info__plus__item--text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #6A6A6A;
    max-width: 247px;
}
.choose__img {
    position: relative;
    @media (max-width: 768px) {
        margin-top: 50px;
    }
}
.choose__img img {
    @media (max-width: 768px) {
        margin: 0 auto;
    }
}