.marg-bottom {
    margin-bottom: 300px;
}

.slid {
text-align: center;
margin-bottom: 60px;
}
.slid--title {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
}
.slid--text {
    max-width: 760px;
    margin: 45px auto;

}