.subscribe {
    margin-bottom: 200px;
    margin-top: 80px;
    position: relative;
    @media (max-width: 768px) {
        margin-top: 0;
        margin-bottom: 80px;
    }
}
.subscribe__chair {
    position: absolute;
    right: 0;
    top: -100px;
    @media (max-width: 768px) {
        position: static;
        margin: 0 auto;
    }
}
.subscribe__title {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding-left: 35px;
}
.subscribe__title::before {
    position: absolute;
    content: '';
    background-image: url('/img/writing.png');
    width: 22px;
    height: 20px;
    left: 0;
    top: 0;
} 
.footer__form {
    display: flex;
    align-items: center;
    max-width: 600px;
    justify-content: space-between;
    margin-top: 25px;
    @media (max-width: 1075px) {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
        margin-right: 450px;
    }
    @media (max-width: 768px) {
        margin-right: 0;
    }
}
.subscribe input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-left: 22px;
  }
.footer__form--input {
    width: 262px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    @media (max-width: 1075px) {
        width: 100%;
        max-width: 450px;
    }
}
.footer__form--btn {
    background: #35736E;
    border-radius: 10px;
    width: 50px;
    height: 47px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
.footer__form--btn:hover{
    background: #3eaba2;
}
.footer__form--btn img{
    margin: 0 auto;
}
// ----
.footer-info--title {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}
.footer-info--list {
    display: flex;
    column-gap: 65px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #6A6A6A;
    margin-bottom: 45px;
    @media (max-width: 920px) {
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 35px;
    }
}
.footer-info--list__item:first-of-type {
    max-width: 360px;
    @media (max-width: 920px) {
        max-width: 100%;
        width: 100%;        
    }
}
.footer-info--list__item {
    min-width: 92px;
}
// -----------------
.footer-info-social{
    // padding-bottom: 300px;
    display: flex;
    column-gap: 11px;
    padding-bottom: 32px;
    border-bottom: 1px solid #EFF2F1;
}
.footer-info-social div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    background: #D9D9D9;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
}
.footer-info-social div:hover {
    background: #35736E;
}

.footer__Copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    font-size: 13px;
    line-height: 24px;
    color: #6A6A6A;
    @media (max-width: 669px) {
        flex-direction: column-reverse;
        row-gap: 10px; 
        margin-top: 18px;       
    }
}
.footer__Copyright--second {
    display: flex;
    column-gap: 42px;
}
